body {
  margin: auto;
  padding: 0;
  line-height: 1.62;
  font-family: "Alegreya", "Palatino Linotype", "Book Antiqua", Palatino, "Songti SC", "仿宋", "FangSong", "NSimSun", "Microsoft YaHei", serif;
  font-size: 18px;
  font-weight: 400;
  min-height: 100vh;
}

/* header and footer areas */
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
/*  position: sticky; */
  top: 0;
  z-index: 1;
}
nav {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 780px;
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}
.menu { padding: 0; font-size: 1.1em; }
.menu li { display: inline-block; }
.menu a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
.article-meta, footer { text-align: center; }
.title { font-size: 1.2em; }
.archive-item {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}
.archive-item-date { color: #888; font-weight: 200; }
hr {
  border-style: dashed;
  color: #ddd;
  width: 100%;
}
p {
  font-size: 1.1em;
  letter-spacing: 1.2;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { 
  background: #f9f9f9;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 90%;
}
pre code { background: none; font-size: 90%; }

/* misc elements */
img, iframe, video { max-width: 100%; }
.content {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 780px;
  hyphens: auto; color: #333;}
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 0 10px;
  padding: 3px 1em 3px;
  color: #777;
}
.entry-title { margin-bottom: 0; }
.entry-meta { color: #888; font-weight: 300; }
.row ul { padding: 0 25px; }
nav#article-nav { padding: 20px 0; }
#cusdis_thread { margin: 40px 0 0; }

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

footer { margin: 0 auto; padding: 20px 0 10px; text-align: center; color: #777; }
footer a { text-decoration: none; color: #666; }
