{{ if ne .Section "" }}
{{ if or .PrevInSection .NextInSection }}
<nav id="article-nav">
    {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.Permalink }}" id="article-nav-older" class="article-nav-link-wrap">
      <div class="article-nav-title">&#8592; {{ .PrevInSection.Title }}</div>
    </a>
    {{ end }}

    {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}" id="article-nav-newer" class="article-nav-link-wrap">
      <div class="article-nav-title">{{ .NextInSection.Title }} &#8594;</div>
    </a>
    {{ end }}
</nav>
{{ end }}
{{ end }}
